* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  height: 100%;
  background-color: #F9F8F4;
}

@media only screen and (max-width: 767px) {

  .main-nav{
    margin: 2rem 1rem;
  }

  body{
    background-color: #F7F7F7;
  }

  .main-nav svg{
    filter: brightness(0);
  }

  .navigation{
    display: none;
  }

  .mobile-contact{
    background-color: #2D2E52;
    color: white;
    text-align: center;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 2rem;
    border: none;
  }

  .button-i{
    display: none;
  }

  .hamburger{
    font-size: 1.8rem;
    position: absolute;
    right: 2rem;
    top: 2.8rem;
  }

  .hamburger:hover + .navigation{
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 35%;
    top: 20%;
    /* font-size: 2rem; */
  }

  .caret-animation{
    /* padding: 0.5rem 1.5rem; */
    position: relative;
  }

  .caret-animation svg{
    position: absolute;
    right: 21%;
    top: 40%;
  }

  .navigation div{
    display: flex;
    margin: 1rem;
    justify-content: space-between;
  }
  
  .navigation a{
    margin: 1rem;
    text-decoration: none; 
    padding: 0.5rem 1.5rem;
    color: black;
  }

  #link-header{
    margin: 0;
    text-decoration: underline;
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .main-nav{
    margin: 2rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav svg{
    filter: brightness(0);
  }

  .navigation{
    display: inline-block;
  }

  .navigation div{
    display: inline;
    margin: 1rem;
  }

  .navigation a{
    margin: 1rem;
    text-decoration: none;
    color: black;    
  }

  #link-header{
    margin: 0;
    text-decoration: underline;
  }

  .caret-animation svg:hover{
  transition: all 300ms ease;
  transform: rotate(180deg);
  }

  .caret-animation svg:hover::after{
    transition: all 500ms ease;
    transform: rotate(0deg);
  }
  
  .main-nav button{
    background-color: #2D2E52;
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
  }

  .hamburger{
    display: none;
  }

  li{
    display: inline;
  }  

  .mobile-contact{
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav{
    margin: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav svg{
    filter: brightness(0);
  }

  .navigation{
    display: inline;
  }

  .navigation div{
    display: inline;
    margin: 1.5rem;
  }

  .navigation a{
    margin: 1.5rem;
    color: black;    
  }

  #link-header{
    margin: 0;
    text-decoration: underline;
  }

  .caret-animation svg:hover{
  transition: all 300ms ease;
  transform: rotate(180deg);
  }

  .caret-animation svg:hover::after{
    transition: all 500ms ease;
    transform: rotate(0deg);
  }
  
  .main-nav button{
    background-color: #2D2E52;
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
  }

  li{
    display: inline;
  }

  .hamburger{
    display: none;
  }

  .mobile-contact{
    display: none;
  }
}